## Peer-graded Assignment: Segmenting and Clustering Neighborhoods in Toronto

## CAPSTONE PROJECT - PART ONE

In [1]:
from bs4 import BeautifulSoup
import requests

import pandas as pd
import numpy as np

import matplotlib.cm as cm
import matplotlib.colors as colors
from sklearn.cluster import KMeans

import folium

In [2]:
website_url = requests.get('https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M').text

#### Scrape the Wikipedia page and transform the data into a pandas dataframe

To scrape wikipedia page I used library BeautifulSoup

In [3]:
from bs4 import BeautifulSoup
soup = BeautifulSoup(website_url,'lxml')
#print(soup.prettify())

In [4]:

data = []
columns = []

My_table = soup.find('table',{'class':'wikitable'})

for index, tr in enumerate(My_table.find_all('tr')):
    section = []
    for td in tr.find_all(['th','td']):
        section.append(td.text.rstrip('\n'))
    
#First row as header
    if (index == 0):
        columns = section
    else:
        data.append(section)
        
#converting to Pandas DataFrame
df = pd.DataFrame(data = data,columns = columns)

#change in header
df = df.rename(columns = {'Postal code':'PostalCode'})


df.head()

  PostalCode           Borough                Neighborhood
0        M1A      Not assigned
1        M2A      Not assigned
2        M3A        North York                   Parkwoods
3        M4A        North York            Victoria Village
4        M5A  Downtown Toronto  Regent Park / Harbourfront

#### Dataframe clean-up:

In [5]:
#These two rows will be combined into one row with the neighborhoods separated with a comma 
df['Neighborhood'] = df.groupby('PostalCode')['Neighborhood'].transform(lambda neigh: ', '.join(neigh))

In [6]:
# Ignore cells with a borough that is Not assigned.
df = df[df['Borough'] != 'Not assigned']

#update index to be postcode
if(df.index.name != 'PostalCode'):
    df = df.set_index('PostalCode')
df.head()

                     Borough                                  Neighborhood
PostalCode
M3A               North York                                     Parkwoods
M4A               North York                              Victoria Village
M5A         Downtown Toronto                    Regent Park / Harbourfront
M6A               North York             Lawrence Manor / Lawrence Heights
M7A         Downtown Toronto  Queen's Park / Ontario Provincial Government

In [7]:
#drop duplicates
#df = df.drop_duplicates()

#### Final dataframe for Project Part One:

In [8]:
#final dataframe head   
df.head(10)

                     Borough                                  Neighborhood
PostalCode
M3A               North York                                     Parkwoods
M4A               North York                              Victoria Village
M5A         Downtown Toronto                    Regent Park / Harbourfront
M6A               North York             Lawrence Manor / Lawrence Heights
M7A         Downtown Toronto  Queen's Park / Ontario Provincial Government
M9A                Etobicoke                              Islington Avenue
M1B              Scarborough                               Malvern / Rouge
M3B               North York                                     Don Mills
M4B                East York              Parkview Hill / Woodbine Gardens
M5B         Downtown Toronto                      Garden District, Ryerson

Used the .shape method to print the number of rows of dataframe:

In [9]:
df.shape

(103, 2)